// .SearchForm {
//   @include flexWrap;
// }

.button:hover {
  cursor: pointer;
}

.SearchForm__button {
  background-color: $accent-color;
  color: $primary-white-color;
  &-add {
    background-color: $accent-color;
    color: $primary-white-color;
  }
}

.SearchForm__button-add {
  border-radius: 50%;
  color: $primary-white-color;
}

// .SearchForm__label {
//   position: relative;
// }

// .SearchForm__input {
//   position: absolute;
//   left: 0;
//   top: -100%;
// }
