.SearchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.SearchDateBox {
  // commented in html
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  // border-left: 1px solid $background-primary-dark;
  // border-right: 1px solid $background-primary-dark;
}

.button:hover {
  cursor: pointer;
}

.SearchForm__item {
  position: relative;
  display: flex;
  flex-direction: column;
  // min-width: 80px;
}

.SearchForm__input,
.SearchForm__input-date-arrival {
  margin-left: 28px;
}

.icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.SearchForm__number {
  min-width: 8px;
}

.SearchForm__button {
  // min-width: 70px;
  // max-width: 170px;
  width: 170px;
  height: 60px;
  border-radius: 4px;
  background-color: $accent-color;
  color: $primary-white-color;
  &-add {
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: $primary-white-color;
    background-color: $accent-color;
    &:disabled {
      background-color: $accent-color-disabled;
    }
  }
  &-label {
    text-transform: uppercase;
  }
}

.Separator {
  display: none;
  color: $primary-grey-color;
  @media screen and (min-width: $tablet) {
    display: block;
  }

  &-Dot {
    color: $primary-grey-color;
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.label {
  margin-bottom: 3px;
  font-size: 14px;
  // position: relative;
}

// .input {
//   position: absolute;
//   left: 0;
//   top: 100%;
// }
