header {
  border: 1px solid #ececec;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

address {
  font-style: normal;
}

.container {
  //  for mobile devices
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid red;
  // width: 768px;

  @media screen and (min-width: $mobile) {
    // for mobile devices
    // min-width: 767px;
  }

  @media screen and (min-width: $tablet) {
    // for tablet devices
    // max-width: 1199px;
  }

  @media screen and (min-width: $desctop) {
    // for desctop devices
    max-width: 1600px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
