$primary-black-color: #000000;
$primary-white-color: #ffffff;
$primary-grey-color: #9a9a9a;
$accent-color: #ed9915;
$accent-color-disabled: #fed18c;

$timing-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
